<!-- Footer -->
<footer class="footer-container">
  <div id="footer-left">
    <img
      src="/images/logo-foot.svg"
      alt="logo-foot"
    />
    <nav id="footer-list">
      <ul>
        <li><a href="/" class="current">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/createplan">CREATE YOUR PLAN</a></li>
      </ul>
    </nav>
  </div>
  <div id="footer-right">
    <a href="https://www.linkedin.com/in/mfoneedwinngwa/" target="_blank">
      <span class="sr-only">linkedin</span>
      <i class='fab fa-linkedin fa-2x'></i>
    </a>
    <a href="https://github.com/mfoneedwin" target="_blank">
      <span class="sr-only">github</span>
      <i class='fab fa-github fa-2x'></i>
    </a>
  </div>
</footer>

<!-- JavaScript -->
<script src="/js/main.js"></script>
</body>
</html>