<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- OG -->
  <meta name="description" content="Coffee Roasters Subscription" />
  <meta name="title" property="og:title" content="Coffee Roasters Subscription" />
  <meta property="og:type" content="Website" />
  <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51260819995_a74f4ba17e_b.jpg" />
  <meta name="description" property="og:description" content="Coffee Roasters Subscription" />
  <meta name="author" content="EDWIN MFONE" />

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/6892589420.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3c00f1a586.js" crossorigin="anonymous"></script>

  <title> Coffeeroasters Subscription</title>
</head>
<body class="container">
  <!-- Header -->
  <header>
    <img
      src="/images/logo.svg"
      alt="logo"
    />
    <nav id="header-list">
      <ul>
        <li><a href="/" class="current">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/createplan">CREATE YOUR PLAN</a></li>
      </ul>
    </nav>
    <nav id="hamburger-menu" class="hamburger-menu">
      <div id="three-lines" class="three-lines">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
      <div id="close-btn" class="close-btn">
      </div>
      <div id="my-hamburger-modal" class="hamburger-modal">
        <div class="hamburger-modal-content">
          <ul class="hamburger-list">
            <li class="hamburger-item"><a href="/" class="hamburger-link current">Home</a></li>
            <li class="hamburger-item"><a href="/about" class='hamburger-link'>About Us</a></li>
            <li class="hamburger-item"><a href="/createplan" class='hamburger-link'>Create Your Plan</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
