<%- include ('partials/header') %> 

    <!-- Home A -->
    <section id='home-a' style="background-image: url(/images/image-hero-coffeepress.jpg);">
      <div id="home-a-content">
        <h1 class="big-title">
          Great coffee made simple.
        </h1>
        <p class='paragraph'>
          Start your mornings with the world’s best coffees. Try our expertly curated artisan
          coffees from our best roasters delivered directly to your door, at your schedule.
        </p>
        
        <form style="display: inline;" action="#">
          <button class="mn-btn">
            Create your plan
          </button>
        </form>
        
      </div>
    </section>
  
    <!-- Home B -->
    <section id='home-b'>
      <div id='our-coll-container'>
        <h1>
          our collection
        </h1>
      </div>
      <div id="home-b-content">
        <div class="coff-container">
          <img
            class="left"
            src="/images/image-gran-espresso.png"
            alt="espresso"
            style="width: 75%;"
          />
          <h3 class='small-title top-right'>
            Gran Espresso
          </h3>
          <p class="paragraph bot-right">
            Light and flavorful blend with cocoa and black pepper for an intense experience
          </p>
        </div>
        <div class="coff-container">
          <img
            class="left"
            src="/images/image-planalto.png"
            alt="planalto"
          />
          <h3 class='small-title top-right'>
            Planalto
          </h3>
          <p class="paragraph bot-right">
            Brazilian dark roast with rich and velvety body, and hints of fruits and nuts
          </p>
        </div>
        <div class="coff-container">
          <img
            class="left"
            src="/images/image-piccollo.png"
            alt="piccollo"
          />
          <h3 class='small-title top-right'>
            Piccollo
          </h3>
          <p class="paragraph bot-right">
            Mild and smooth blend featuring notes of toasted almond and dried cherry
          </p>
        </div>
        <div class="coff-container">
          <img
            class="left"
            src="/images/image-danche.png"
            alt="danche"
          />
          <h3 class='small-title top-right'>
            Danche
          </h3>
          <p class="paragraph bot-right">
            Ethiopian hand-harvested blend densely packed with vibrant fruit notes
          </p>
        </div>
      </div>
    </section>
  
    <!-- Home C -->
    <section id='home-c'>
      <div id="home-c-bg"></div>
      <div id="home-c-title">
        <h2 class="med-title">Why choose us?</h2>
        <p class="paragraph">
          A large part of our role is choosing which particular coffees will be featured
          in our range. This means working closely with the best coffee growers to give
          you a more impactful experience on every level.
        </p>
      </div>
      <div id="home-c-cards">
        <div class="card">
          <img
            src="/images/icon-coffee-bean.svg"
            alt="coffe-bean"
          />
          <h3 class="small-title">Best quality</h3>
          <p class="paragraph">
            Discover an endless variety of the world’s best artisan coffee from each of our roasters.
          </p>
        </div>
        <div class="card">
          <img
            src="/images/icon-gift.svg"
            alt="gift"
          />
          <h3 class="small-title">Exclusive benefits</h3>
          <p class="paragraph">
            Special offers and swag when you subscribe, including 30% off your first shipment.
          </p>
        </div>
        <div class="card">
          <img
            src="/images/icon-truck.svg"
            alt="truck"
          />
          <h3 class="small-title">Free shipping</h3>
          <p class="paragraph">
            We cover the cost and coffee is delivered fast. Peak freshness: guaranteed.
          </p>
        </div>
      </div>
    </section>
  
    <!-- Home D -->
    <section id='home-d'>
      <h3 class="small-title">
        How it works
      </h3>
      <div id="circle-line">
        <div class="circle"></div>
        <div class="circle circ-2"></div>
        <div class="circle circ-3"></div>
      </div>
      <div id="steps">
        <div class="step">
          <h1 class="big-title">01</h1>
          <h3 class="small-title">Pick your coffee</h3>
          <p class="paragraph">
            Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There are new coffees in all profiles every month for you to try out.
          </p>
        </div>
        <div class="step">
          <h1 class="big-title">02</h1>
          <h3 class="small-title">Choose the frequency</h3>
          <p class="paragraph">
            Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.
          </p>
        </div>
        <div class="step">
          <h1 class="big-title">03</h1>
          <h3 class="small-title">Receive and enjoy!</h3>
          <p class="paragraph">
            We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.
          </p>
        </div>
      </div>
    </section>
  
    <!-- Home E -->
    <div id='home-e'>
      <form style="display: inline;" action="/">
        <button class="mn-btn">
          Create your plan
        </button>
      </form>
      
    </div>
  


  
<%- include ('partials/footer') -%> 